<%- include ('partials/header') -%>

        <!-- ***** Hero Area Start ***** -->
        <section class="hero-area">
            <div class="hero-slides owl-carousel">
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide1.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>Sand Storm</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide2.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>New York View</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide3.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>The Desert</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide4.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>Mountains Hike</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide1.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>Sand Storm</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide2.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>New York View</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide3.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>The Desert</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide4.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>Mountains Hike</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide1.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>Sand Storm</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide2.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>New York View</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide3.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>The Desert</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img slide-background-overlay"
                    style="background-image: url(../public/img/bg-img/slide4.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-end">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2>Mountains Hike</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                        facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.
                                        Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Hero Area End ***** -->
            <!-- Latest Novies section -->
            <section class="blog-section spad movies">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 col-md-7">
                            <div class="section-title text-white">
                                <h2>Latest Movies</h2>
                            </div>
                            <ul class="blog-filter">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Drama</a></li>
                                <li><a href="#">Sci-Fi</a></li>
                                <li><a href="#">Horror</a></li>
                            </ul>
                            <% movies.forEach(movie => { %>
                                <div class="blog-item">
                                    <div class="blog-thumb">
                                        <img src="<%= movie.image %> " alt="">
                                    </div>
                                    <div class="blog-text text-box text-white">
                                        <div class="top-meta">11.11.18 in <a href="/movies">Movies</a></div>
                                        <h3><%= movie.title %> </h3>
                                        <p><%= movie.synopsis %> </p>
                                        <a href="/movie/<%= movie._id %> " class="read-more">Read More <img src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                    </div>
                                </div>
                            <% }) %>
                        <div class="col-xl-9 col-lg-8 col-md-7 tv">
                            <div class="section-title text-white">
                                <h2>Latest TV Shows</h2>
                            </div>
                            <ul class="blog-filter">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Drama</a></li>
                                <li><a href="#">Sci-Fi</a></li>
                                <li><a href="#">Horror</a></li>
                            </ul>
                            <!-- Blog item -->
                            <div class="blog-item">
                                <div class="blog-thumb">
                                    <img src="../public/img/blog/1.jpg" alt="">
                                </div>
                                <div class="blog-text text-box text-white">
                                    <div class="top-meta">11.11.18 in <a href="/movies">TV Shows</a></div>
                                    <h3>The Witcher</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-mod tempor incididunt ut
                                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor
                                        sit amet, consecte-tur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua.....</p>
                                    <a href="/movie-single" class="read-more">Read More <img src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                            <!-- Blog item -->
                            <div class="blog-item">
                                <div class="blog-thumb">
                                    <img src="../public/img/blog/2.jpg" alt="">
                                </div>
                                <div class="blog-text text-box text-white">
                                    <div class="top-meta">11.11.18 in <a href="/movies">TV Shows</a></div>
                                    <h3>Killing Eve</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-mod tempor incididunt ut
                                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor
                                        sit amet, consecte-tur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua.....</p>
                                    <a href="/movie-single" class="read-more">Read More <img src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                            <!-- Blog item -->
                            <div class="blog-item">
                                <div class="blog-thumb">
                                    <img src="../public/img/blog/3.jpg" alt="">
                                </div>
                                <div class="blog-text text-box text-white">
                                    <div class="top-meta">11.11.18 in <a href="/movies">TV Shows</a></div>
                                    <h3>Evil</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-mod tempor incididunt ut
                                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor
                                        sit amet, consecte-tur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua.....</p>
                                    <a href="/movie-single" class="read-more">Read More <img src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-5 sidebar">
                            <div id="stickySidebar">
                                <div class="widget-item">
                                    <h4 class="widget-title">Trending</h4>
                                    <div class="trending-widget">
                                        <div class="tw-item">
                                            <div class="tw-thumb">
                                                <img src="../public/img/blog-widget/1.jpg" alt="#">
                                            </div>
                                            <div class="tw-text">
                                                <div class="tw-meta">11.11.18 in <a href="/movies">Movies</a></div>
                                                <a href="/movie-single"><h5>The Bobcat<h5></a>
                                            </div>
                                        </div>
                                        <div class="tw-item">
                                            <div class="tw-thumb">
                                                <img src="../public/img/blog-widget/2.jpg" alt="#">
                                            </div>
                                            <div class="tw-text">
                                                <div class="tw-meta">11.11.18 in <a href="/movies">Movies</a></div>
                                                <a href="/movie-single"><h5>Midsommar<h5></a>
                                            </div>
                                        </div>
                                        <div class="tw-item">
                                            <div class="tw-thumb">
                                                <img src="../public/img/blog-widget/3.jpg" alt="#">
                                            </div>
                                            <div class="tw-text">
                                                <div class="tw-meta">11.11.18 in <a href="/movies">Movies</a></div>
                                                <a href="/movie-single"><h5>The Christmas Kiss<h5></a>
                                            </div>
                                        </div>
                                        <div class="tw-item">
                                            <div class="tw-thumb">
                                                <img src="../public/img/blog-widget/4.jpg" alt="#">
                                            </div>
                                            <div class="tw-text">
                                                <div class="tw-meta">11.11.18 in <a href="/movies">Movies</a></div>
                                                <a href="/movie-single"><h5>The Martian<h5></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="widget-item">
                                    <div class="categories-widget">
                                        <h4 class="widget-title">categories</h4>
                                        <ul>
                                            <li><a href="">Movies</a></li>
                                            <li><a href="">Gaming Tips & Tricks</a></li>
                                            <li><a href="">Online Movies</a></li>
                                            <li><a href="">Team Movies</a></li>
                                            <li><a href="">Community</a></li>
                                            <li><a href="">Uncategorized</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog section end -->

<%- include ('partials/footer') -%>