<%- include ('partials/header') -%>
<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="../public/img/page-top-bg/1.jpg">
    
</section>
<!-- Page top end-->


<!-- Games section -->
<section class="games-single-page">
    <div class="container">
        <div class="game-single-preview">
            <iframe width="100%" height="450" src="https://www.youtube.com/embed/un9uq5rp_J0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
                <div class="gs-meta">11.11.18 in <a href="">Movies</a></div>
                <h2 class="gs-title"><%= movie.title %> </h2>
                <h4>Synopsis</h4>
                <p><%= movie.synopsis %> </p>
                <h4>The Den Review</h4>
                <p><%= movie.ratings.denReviews.text %> </p>
                <div>
                    <a class="download" href="<%= movie.fileLink %>">Download Final Appocalipse</a>
                </div>
                <div class="geme-social-share pt-5 d-flex">
                    <p>Share:</p>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
                <div id="stickySidebar">
                    <div class="widget-item">
                        <div class="rating-widget">
                            <h4 class="widget-title">Movie Ratings</h4>
                            <ul>
                                <li>Rotten Tomatoes<span><%= movie.ratings.rottenTomatoes %></span></li>
                                <li>Google Reviews<span><%= movie.ratings.googleReviews %></span></li>
                                <li>IMDB<span><%= movie.ratings.IMDB %></span></li>
                            </ul>
                            <div class="rating">
                                <h5><i>The DEN</i><span><%= movie.ratings.denReviews.ratings %></span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
<!-- Games end-->

<!-- Newsletter section end -->
<%- include ('partials/footer') -%>